<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TelegramToken" value="254847451:AAEDLKTQyWJIs1MRsba73r4nk6lwjA0vvzw" />
    <add key="AccessTokens" value="e95eacf994639a31a031cdf37c27ec75c25a99da99b9dd34c1419bbbfbde817863180b7156dc763d9f60c;3aba36d99552dfd2d9ead84f45792b86fa3add96bb1e24a37c1378de93426aee3566f482834bae5663d78;a5d046646a61c8d89f3752bb75330247cd6051b97e467e155ce9875a9377171cc643fc1a97bc4340d8ab0" />
    <add key="TelegraphAccessToken" value="c7133db7da8533ba83cc2bab260bbd428f8391827a71388892070416fed2;98d214209ad85fbdc391479c704d6fcf93c3ccee4d270acde6d616f00d73;31e7cbe84534c6f01ca1ce64e7a7e7f1f61c7a8439cc8316c8088cc4e808;4db05d432026fecc79cb6b487794c252ac793e8cb6d0a0d83911488b46f4;b1565e0db71c7779eef1e28037d534849cee04057e906322961e316aacce" />
    <add key="ImgurClientId" value="f1fb545486b802d" />
    <add key="ImgurClientSecret" value="ac4cb2c7a126dbefca9bddb92ca8cc9d8bf25e99" />
    <add key="BlobStorage" value="DefaultEndpointsProtocol=https;AccountName=vk2tg;AccountKey=WpX16Dom9KmrUW9uixE0nqaxzec5grPDW7NS/If0e/Ru3e9kgXrgNCI+IxgFf60bFfN8B+phoFKpRphcUkle+g==;EndpointSuffix=core.windows.net" />
    <add key="Cloudinary" value="dtvkd6kcn,347494238621261,W0NKByMbnD-3zFr-cybZVk_Hc4c;dqpuw3hh4,745925879664649,9jrrV9-WH_O5yAohHrn7_0xHuOk;dxl6qwx4b,239791319559548,TenwuQL7Cf8IP-0sugngvsRsWPU;dc3lr42eu,282516462153325,_0oWU_nWZU3MLB3g_j3a9B793Og" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add providerName="System.Data.SqlClient" name="DefaultConnectionString" connectionString="Server=tcp:immelstornua.database.windows.net,1433;Initial Catalog=AzureDB;Persist Security Info=False;User ID=immelstorn;Password=mTsumkins!9;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>